.share
    center(800px)
    text-align center
    border-top 1px solid main
    padding-top rem(20px)
    color: main
    article &
        border-top none
    svg
        margin rem(15px)
        size(35,35)
        fill main
    a
        text-decoration none
        border none

