themes = {
    post-angular: #c71a18,
    post-js: #D6BA32,
    post-ts: #2f8bab,
    post-algorithm: #7e8ec7,
    post-react: #2060ab,
    post-python: #00a2ab,
    post-spring: #4dab1d,
    post-dev: #637a91,
    post-book: #7AAB13,
    post-math: #ab631a,
}

for theme, category-color in themes
    .{theme}
        .title-category
            color category-color
        .post-content
            // post sub title
            h1,h2,h3,h4
                color title
            a
                // post 내부 공유링크 (a 태그)
                color link
            // bold
            strong
                color #ffffff
            p, li
                code
                    color title
                    background-color black
                    word-wrap break-word
                    padding rem(3px) rem(5px)
                    border-radius 3px
                    font-size rem(18px)
            blockquote
                border-left .313rem solid comments

        .header-post,
        // post title
        .header-site
            background-color card
            h1
                text-shadow 3px 3px darken(black, 20%)
                color title
        // post 내부 header
        .bar-header
            .logo a
                color header-text
        // post 내부 profile
        .author .email,
        .author .github
            color main
            a
            &:hover
                color link
        // post 내부 share 부분
        .share a
            &:hover svg
                fill link
                
        body
            &.search-overlay 
                &:after
                    +below(cut)
                        background-color rgba(0,0,0,0.6)
        // post 내부 icon
        .icon-menu
            fill header-text
        // card body
        .box-body
            h2
                color title
            .tags a
                color title
                border 1px solid category-color
                background: category-color
        // post 내부 menu list
        aside
            background-color card
            nav li a:hover
                color card
        // card ribbon
        .ribbon span
            background-color category-color
            &:before
                border-left 3px solid darken(category-color, 30%)
                border-top 3px solid darken(category-color, 30%)
            &:after
                border-right 3px solid darken(category-color, 30%)
                border-top 3px solid darken(category-color, 30%)
        // post 내부 footer
        footer
            background-color card
