// COLORS
header = #4b5264
card = #434957
card-hover = #61687c
background = #2f323d
title = #ffffff
description = #707070
main = #ddd
link = #13a2ff
texts = #ddd
comments = #c0c0c0

lightGray = #F2F2F2
// Resolution
cut = 37.5rem
